.menugrid {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: "2fr 1fr 1fr";
  grid-template-rows: "1fr 2fr";
  grid-template-areas:
    "admission academics academics"
    "gallery gallery blog";
  box-sizing: border-box;
  overflow: hidden;
  /* grid-gap: 2rem; */
  /* padding: 5rem; */
  background-color: rgb(238, 238, 238);
}

.admissions {
  grid-area: admission;
  height: 28vh;
  width: 100%;
  background-color: #ee5737;
}

.academics {
  grid-area: academics;
  height: 28vh;
  width: 100%;
  background-color: #f8c846;
  position: relative;
}

.gallery {
  grid-area: gallery;
  height: 72vh;
  width: 100%;
  background-color: #93b6b6;
  position: relative;
}

.blog {
  grid-area: blog;
  height: 72vh;
  width: 100%;
  background-color: #8f76bb;
  position: relative;
}

.font {
  color: white;
  font-weight: bold;
  font-size: 3rem;
  /* text-decoration: underline; */
}

.admissions p {
  margin: 2rem;
}

.academics p {
  position: absolute;
  right: 0%;
  bottom: 0%;
  margin: 2rem;
}

.gallery p {
  position: absolute;
  bottom: 5%;
  margin: 2rem;
}

.blog p {
  position: absolute;
  bottom: 30%;
  right: 0%;
  display: flex;
  align-items: center;
  height: 20%;
  width: 90%;
  transform: rotate(-90deg);
  margin: 0%;
  padding: 0%;
}
