.slide-frame {
  height: calc(100vh - 3.5rem);
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "slider slidetxt";
}
.slider {
  grid-area: slider;
  height: calc(100vh - 3.5rem);
  width: 50vw;
  display: flex;
  overflow: hidden;
}

.slidemove {
  grid-area: slidetxt;
  display: flex;
  width: auto;
  height: calc(100vh - 3.5rem);
  overflow: hidden;
}

.slidetxt {
  min-width: 50vw;
  height: inherit;
  position: relative;
  display: grid;
  place-content: center;
  animation: 25s slide infinite;
}

.image {
  height: 100vh;
  min-width: 50vw;
  position: relative;
  animation: 25s slide infinite;
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@keyframes slide {
  0% {
    left: 0;
  }
  20% {
    left: -100%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -200%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -300%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -400%;
  }
  100% {
    left: -400%;
  }
}

@media (max-width: 600px) {
  .slide-frame {
    display: none;
  }
}
