.slide-frame {
  height: calc(100vh - 3.5rem);
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "slider slidetxt";
}
.slider {
  grid-area: slider;
  height: calc(100vh - 3.5rem);
  width: 50vw;
  display: flex;
  overflow: hidden;
}

.slidemove {
  grid-area: slidetxt;
  display: flex;
  justify-content: center;
  place-items: center;
  width: 50vw;
  height: 100%;
  overflow: hidden;
}

.slidetxt {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  margin: auto;
}

/* .slidetxt {
  animation: 25s slide infinite;
} */

.image {
  height: 100%;
  width: 50vw;
  position: relative;
  animation: 25s slide infinite;
}

@keyframes slide {
  0% {
    left: 0;
  }
  20% {
    left: -45vw;
  }
  25% {
    left: -45vw;
  }
  45% {
    left: -90vw;
  }
  50% {
    left: -90vw;
  }
  70% {
    left: -135vw;
  }
  75% {
    left: -135vw;
  }
  95% {
    left: -180vw;
  }
  100% {
    left: -180vw;
  }
}
