.noticebox {
  height: 38rem;
  width: 25rem;
  border: 3px solid black;
  box-sizing: border-box;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 10fr;
  grid-template-areas:
    "heading"
    "desc";
  padding: 2rem;
  margin: 2rem auto;
}

.notice-heading {
  grid-area: heading;
  text-align: center;
}

.notice-desc {
  grid-area: desc;
  overflow: scroll;
  text-align: left;
  padding: 1rem;
}

@media (max-width: 576px) {
  .noticebox {
    height: 35rem;
    width: calc(100vw - 15px);
  }
}

@media (min-width: 576px) and (max-width: 1000px) {
  .noticebox {
    height: 28rem;
    width: calc(50vw - 10px);
  }
}
