.noticebox {
  height: 38rem;
  width: 25rem;
  border: 3px solid black;
  box-sizing: border-box;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 10fr;
  grid-template-areas:
    "heading"
    "desc";
  padding: 2rem;
  margin: 2rem auto;
}

.notice-heading {
  grid-area: heading;
  text-align: center;
}

.notice-desc {
  grid-area: desc;
  overflow: scroll;
  text-align: left;
  padding: 1rem;
}
