.box {
  height: 25rem;
  width: 15rem;
  border: 3px solid black;
  position: relative;
  overflow: hidden;
}

.imagebox {
  height: 9rem;
  width: 100%;
  border-bottom: 3px solid black;
  background-color: aliceblue;
}

.datebox {
  position: absolute;
  top: 7rem;
  left: 2rem;
  height: 3.5rem;
  width: 3.5rem;
  background-color: black;
  display: grid;
  place-content: center;
  padding: 0.2rem;
}

.datebox p {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.datedesc {
  display: grid;
  place-content: start;
  padding: 2rem;
  margin: 0%;
  text-align: left;
}
