@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

.button {
  height: inherit;
  width: auto;
  background: none;
  color: white;
  font-family: "Open Sans";
  display: grid;
  place-content: center;
  /* margin: 1rem; */
  /* border: 1px solid white; */
  padding: 1rem;
  font-weight: bold;
  text-decoration: none;
  /* box-sizing: border-box; */
}

a {
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
  /* border-bottom: 1px solid white; */
  /* background-color: rgba(255, 255, 255, 0.2); */
  color: rgb(38, 98, 175);
}
