.topbar {
  height: 3.5rem;
  width: 100vw;
  background-color: #9a031e;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 0rem 1rem;
  box-sizing: border-box;
  text-decoration: none;
}

.btns {
  display: flex;
  /* margin: 1rem; */
  width: inherit;
  justify-content: space-around;
  /* padding: 1rem; */
}

.hamburger {
  color: white;
  display: none;
}

.active {
  background-color: rgba(255, 255, 255, 0.2);
  height: inherit;
}

@media (max-width: 576px) {
  .topbar {
    min-width: 100vw;
  }

  .name {
    font-size: 0.8rem;
    padding: 0.3rem;
  }

  .sidedrawer-div {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .btns {
    display: none;
  }
}

@media (min-width: 577px) and (max-width: 1024px) {
  .topbar {
    min-width: 100vw;
  }

  .name {
    font-size: 0.8rem;
    padding: 0.3rem;
  }

  .sidedrawer-div {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .btns {
    display: none;
  }
}
