/* .box {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  background-color: rgb(170, 212, 170);
  margin: auto;
} */

.number {
  font-weight: bold;
  text-align: center;
  /* margin: 3.5rem 0rem 0rem 0rem; */
  font-size: 2rem;
}

.type {
  text-align: center;
  /* margin: 1rem 0 0 0; */
  font-weight: bold;
}

.box {
  height: 9rem;
  width: 15rem;
  border: 3px solid black;
  background: none;
  justify-content: center;
  place-items: center;
  margin: auto;
}
