.locations {
  height: 70vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 10fr;
  grid-template-areas:
    "heading heading"
    "map list";
}

.locations-heading {
  grid-area: heading;
  margin-left: 3rem;
  font-size: 2rem;
  font-family: "Open Sans";
}

.map {
  grid-area: map;
  display: grid;
  place-content: center;
}

.fake-map {
  height: 15rem;
  width: 30rem;
  background-color: #c4c4c4;
}

.locations-list {
  grid-area: list;
  display: grid;
  place-content: left;
}

.locations-list ul {
  margin: auto 2rem;
  font-weight: bold;
}

@media (max-width: 576px) {
  .locations {
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr 1fr;
    grid-template-areas:
      "heading"
      "map"
      "list";
  }

  .locations-heading {
    grid-area: heading;
    margin-left: 1rem;
    font-size: 1.5rem;
    font-family: "Open Sans";
  }

  .fake-map {
    width: calc(100vw - 20px);
  }

  .locations-list {
    grid-area: list;
    display: grid;
    place-content: center;
    transform: translateX(-10%);
    font-size: 1.2rem;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  .locations {
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
      "heading heading"
      "map list";
  }

  .fake-map {
    height: 13rem;
    width: calc(50vw - 30px);
  }
}
